:root {
  --red: #f00;
  --blue: #072b78;
  --blue-light: #a5c2ee;
  --blue-lighter: #e5ecf7;
  --pink: #f9a5a8;
  --black: #151515;
  --gray: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  color: #333;
}

html {
  font-size: 50%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
}

.header {
  height: 80vh;
  background: linear-gradient(105deg, var(--blue-light), var(--pink));
  padding: 4rem;
  position: relative;
}

.logo {
  width: 20rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__desktop {
  display: flex;
  flex-direction: row;
}

.nav__list:not(:last-child) {
  margin-right: 2rem;
}

.nav__links {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--black);
}

.header__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  transition: all 0.4s;
}

.header__img:hover {
  transform: translate(-50%, -32%);
}
