/* Theme Color */

.about-us .about-years .years,
.instagram-widget .image a:after,
.checkout-page .default-links li a:hover,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.order-box ul li span,
.checkout-page .sec-title h3,
.checkout-page .default-links li a,
.checkout-page .default-links li .far,
.cart-table tbody tr .remove-btn:hover,
.product-details .basic-details .details-header .rating,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.shop-item .lower-content .name a:hover,
.comments-area .comment-box .reply-btn:hover,
.comments-area .comment-box .date,
.blog-cat li a:before,
.instagram-widget .link-box a:hover,
.latest-news .post .post-info,
.latest-news .post:hover h3 a,
.cat-list li:hover a,
.cat-list li.active a,
.info-block ul li a:hover,
.info-block .icon,
.main-footer .social-links li a:hover,
.subscribe-form .form-group input[type="submit"],
.popular-posts .post h4 a:hover,
.main-footer .contact-list li a:hover,
.social-icon-three li a:hover,
.main-footer .contact-list li span,
.contact-page-section .contact-info li a:hover,
.error-section .error-title span,
.author-box .social-icon li a:hover,
.news-block-three .btn-box a,
.news-block-three h4 a:hover,
.news-block-three .post-info li span,
.news-block-two h4 a:hover,
.news-block-two .post-info li span,
.news-block h4 a:hover,
.news-block .post-info li span,
.team-block .info-box .social-links li a:hover,
.testimonial-block-two .rating,
.testimonial-block-two .info-box .address,
.testimonial-block .info-box .city,
.feature-block-two .icon,
.product-block .info-box h5,
.main-footer.style-three .list-style-three li a:hover,
.offer-section .form-column .upper-text p:nth-child(3n + 2),
.offer-section .image-column .upper-box h2 .discount,
.styled-pagination li.prev-post a:hover,
.styled-pagination li.next-post a:hover,
.load-more-option .load-more a,
.project-detail .project-info li p a:hover,
.project-detail .project-info li .icon,
.project-block-three .content-box h4 a:hover,
.project-block-two .upper-box .category,
.project-block .overlay-box .view-project:hover,
.work-block .icon-box:before,
.work-block:hover .icon-box .icon,
.header-style-four .main-menu .navigation > li.current > a, 
.header-style-four .main-menu .navigation > li:hover > a,
.fluid-section-one .content-column .services li:hover a,
.fluid-section-one .content-column .services li:hover .icon,
.fluid-section-one .content-column .services li .icon,
.fluid-section-one .content-column .services li a:hover,
.help-box .info-box li .icon,
.feature-box .feature-block .icon-box span,
.btn-style-three:hover,
.service-block-two .icon,
.subscribe-form .form-group button:hover,
.main-footer .list-style-two li a:hover,
.news-block .post-info li a:hover,
.btn-style-two:hover,
.service-block-two h3,
.service-block .overlay-box .read-more:hover,
.service-block .overlay-box h3 a:hover,
.service-block .overlay-box h3,
.service-block .overlay-box h3 a,
.sec-title.active h2,
.contact-info-box .info-list li a:hover,
.mobile-menu .navigation li:hover > a,
.mobile-menu .navigation li.current > a,
.nav-outer .mobile-nav-toggler,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a,
.header-style-three .sidebar-btn,
.header-style-three .main-menu .navigation > li.current > a,
.header-style-three .main-menu .navigation > li:hover > a,
.main-header .info-box li a:hover,
.main-header .info-box .icon-box span,
.main-header .search-panel .search-btn:hover,
.offer-section .fact-counter .icon,
.offer-section .content-column h2 .discount,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.social-icon-two li a:hover,
.social-icon-one li a:hover,
.main-header .top-left .text .icon,
.tag-list li a:hover,
.list-style-two li:before,
.list-style-one li:before,
.pricing-table.tagged .inner-box:before,
.service-block-three .icon,
.service-block .lower-content h4 a:hover,
.contact-info-block .icon,
.pricing-table .duration,
.btn-style-one,
a{
	color: #481f01;
}

/*=== Background Color ===*/
.service-tabs .tab-btns .tab-btn.active-btn,
.sidebar .search-box .form-group input[type="submit"], 
.sidebar .search-box .form-group button,
.banner-section-two .title:before, 
.banner-section-two .title:after,
.service-block-three .inner-box:before,
.request-form:before,
.fun-facts-section .fact-counter .icon,
.video-section .fact-counter .icon,
.btn-style-two,
.banner-section .slide-item .title:before,
 .banner-section .slide-item .title:after,
.theme-btn span:not(.btn-title),
.subscribe-form .form-group input[type="submit"]:hover,
.shop-item .overlay-box .btn-box a:hover,
.payment-box .payment-options li .radio-option label .small-text,
.checkout-page .lower-content .column h2:after,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.comments-area .comment-box .reply-btn,
.blog-cat li.active a,
.blog-cat li a:hover,
.instagram-widget .link-box a,
.latest-news .post-thumb a:before,
.main-footer.style-two .contact-list li span,
.main-footer .widget-title:before,
.main-footer .footer-bottom,

.contact-page-section .contact-info li .icon,
.blog-detail .post-share-options .social-icon li a,
.blog-detail .post-share-options .tags a,
.testimonial-carousel-two .owl-dot.active,
.testimonial-carousel-two .owl-dot:hover,
.testimonial-block-two .inner-box:before,
.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev,
.pricing-tabs .tab-btns li.tab-btn:before,
.product-block .btn-box a:hover,
.offer-section .image-column .upper-box .title,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.load-more-option li.prev a:hover,
.load-more-option li.next a:hover,
.project-block-two .overlay-box:before,
.fun-facts-section .counter-column .inner-column:before,
.video-section .fact-counter .counter-column .inner-column:before,
.category-list li a:after,
.services-carousel .owl-dot.active,
.services-carousel .owl-dot:hover,
.service-block-two .inner-box:before,
.banner-section.style-three .owl-dot,
.offer-section .content-column .title,
.sortable-masonry .filters .filter.active,
.sortable-masonry .filters .filter:hover,
.sec-title h2:before,
.sec-title h2:after,
.news-block .post-date,
.main-menu .navigation > li > a:before,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.hidden-bar .appointment-form input[type="text"],
.hidden-bar .appointment-form input[type="email"],
.hidden-bar .appointment-form textarea,
.hidden-bar .inner-box .cross-icon,
.mobile-menu .close-btn,
.header-style-three .main-box:before,
.scroll-to-top:hover{
	background-color: #481f01;
}

/*Border Color*/
.tag-list li a:hover,
.list-style-three li:before,
.services-carousel .owl-dot,
.testimonial-carousel-two .owl-dot,
.pricing-table .table-content ul li:before,
.btn-style-one,
.about-us .about-years:before,
.request-form .form-group input[type="text"]:focus,
.request-form .form-group input[type="email"]:focus,
.request-form .form-group input[type="url"]:focus,
.request-form .form-group textarea:focus,
.request-form .form-group select:focus,
.coming-soon .emailed-form .form-group input:focus,
.coming-soon .emailed-form .form-group select:focus,
.coming-soon .emailed-form .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.shop-comment-form input:focus,
.shop-comment-form select:focus,
.shop-comment-form textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.sidebar .search-box .form-group input:focus,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.blog-detail blockquote,
.faq-form .form-group input:focus,
.faq-form .form-group select:focus,
.faq-form .form-group textarea:focus,
.pricing-tabs .tab-btns,
.discount-form .form-group input:focus,
.discount-form .form-group select:focus,
.discount-form .form-group textarea:focus,
.offer-section:before,
.project-detail blockquote,
.sortable-masonry .filters .filter.active,
.sortable-masonry .filters .filter:hover,
.banner-section.style-three .owl-dot.active,
.header-style-two,
.cat-list li:hover:before, 
.cat-list li.active:before,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-header .search-box-outer .dropdown-men{
	border-color: #481f01;
}

.payment-box .payment-options li .radio-option label .small-text:before{
	border-bottom-color: #481f01;
}

.offer-section .content-column .title:before,
.offer-section .image-column .upper-box .title:before,
.main-header .search-box-outer .dropdown-menu{
	border-top-color: #481f01;
}
